<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<a href="/homes/new"> 회원가입 </a>

<p> 가입된 회원 목록</p>
<hr>

<% @users.each do |u| %>
    이름: <%= u.name %>
    <a href="/homes/show/<%= u.id %>"> 회원 정보 더 보기 </a>
    <hr>
<% end %>
    
