<h1>Homes#new</h1>
<p>Find me in app/views/homes/new.html.erb</p>

<form action="/homes/create" method="get">
    이름: <input type="text" name="name"> <br>
    이메일: <input type="email" name="email"> <br>
    패스워드: <input type="password" name="password"> <br>
    <input type="submit" value="제출">
</form>
