<h1>Homes#show</h1>
<p>Find me in app/views/homes/show.html.erb</p>

<hr>
이 회원 이름: <%= @user.name %> <br>
이 회원 이메일: <%= @user.email %> <br>
<a href="/homes/index"> 되돌아가기 </a> <br>

<a href="/homes/edit/<%= @user.id %>"> 회원정보 수정하기 </a> <br>

<a href="/homes/destroy/<%= @user.id %>"> 회원정보 삭제하기 </a> <br>

<hr>
